.cards-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.card {
  position: relative;
  width: 245px;
  border: 2px solid grey;
  padding: 10px;
  border-radius: 10px;
  background: #c6f6cf;
  margin-bottom: 10px;
  margin-right: 15px;
  z-index: 0!important;
}

.display-none {
  display: none
}

.li-item {
  font-weight: 500;
  text-transform: capitalize;
  padding: 5px 3px;
}

.no-items-text {
  font-size: 28px;
  margin-top: 30px;
  font-weight: 500;
}

.selectFilter {
  padding: 10px;
  margin-top: 10px;
}

.search {
  padding: 10px 5px;
}

.filter-text {
  display: inline-block;
  font-weight: 500;
  margin-right: 10px;
  margin-left: 10px;
}

.edit-btn {
  display: block;
  margin: 20px auto 0;
  width: 70%;
  height: 30px;
  background-color: green;
  color: white;
}

.delete-card-btn {
  width: 23px;
  height: 23px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
}

.delete-card-btn::after, .delete-card-btn::before {
  content: "";
  display: block;
  width: 18px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 10px;
  right: 0;
  transform: rotate(45deg) translateY(-50%);
}

.delete-card-btn::before {
  transform: rotate(-45deg) translateY(-50%);
}
