.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
}

.btn {
  padding: 10px 30px;
  cursor: pointer;
}

