.popup-wrap {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.popup-wrap_active {
  display: flex;
}

.popup {
  width: 450px;
  padding: 15px 25px 25px 25px;
  border-radius: 7px;
  background-color: #fff;
  position: relative;
  // z-index: 100;

  &__caption {
    text-align: center;
    margin: 7px 0 20px 0;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.close {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 15px;
  right: 15px;
  transition: all 0.2s ease;
}

.input {
  margin-bottom: 10px;
  padding: 5px 10px;
}

.label {
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 500;
}

.btn {
  margin-top: 15px;
}

.select {
  padding: 5px 10px;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}

.close::after, .close::before{
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 0;
  transform: rotate(45deg) translateY(-50%);
}

.close::before {
  transform: rotate(-45deg) translateY(-50%);
}

.close:hover {
  transform: scale(1.2);
  cursor: pointer;
}
